<!DOCTYPE html>
<html>
<head>
    <title>Trading Game - Join</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script src="/static/js/join.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="section">
            <input type="text" id="user" placeholder="Enter your name" style="width: 48%;" />
            <button id="joinButton" class="button">Join</button>
        </div>
        <div class="status">
            <input type="text" id="status" class="read-only" readonly />
        </div>
    </div>
</body>
</html>
